= form_tag change_user_lists_path(current_user), :method => 'post', :class => 'list_changing' do
  = select_tag :list_id, options_for_select( List.all.collect { |list| [list.name, list.id] }, current_list_id ), :include_blank => "", :onchange => "alert('aaa');"
  = submit_tag "Change"