body {
  width: 800px;
  margin: 15px auto;
  font-family: 'trebuchet ms', helvetica, sans-serif; 
}

a {
  color: #205791;
  padding: 2px 0;
}

.on_the_spot_editing {
  display: none;
}

a:hover {
  background: #faffbd;
  color: #514721;
}

a.small {
  font-size: 0.9em;
}

span.float_right {
  float: right;
  clear: right;
}

a.smaller {
  font-size: 0.8em;
  padding: 5px;
}

form#word_search, form#kanji_search {
  display: inline;
}

h2 span.smaller, h3 span.smaller {
  font-size: 0.8em;
}

p.word {
  padding: 3px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

p.list {
  padding: 5px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

span.on_the_spot_editing {
  line-height: 2.0em;
}

header#page_header a {
  font-weight: bold;
}

header#page_header nav {
  padding: 5px;
  float: right;
}

header#page_header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header#page_header nav ul li {
  margin: 0 10px 0;
  display: inline;
}

h1#logo {
  float: left;
  margin: 0;
}

h1#logo img {
  border-width: 0;
}

aside#flash {
  float: right;
  clear: right;
}

aside#flash p.notice, aside#flash p.alert {
  font-size: 0.9em;
  font-weight: bold;
  margin: 3px 10px 0;
  padding: 3px 5px;
}

aside#flash p.notice {
  border: 2px solid #c6d880;
  background: #e6efc2;
  color: #264409;
}

aside#flash p.alert {
  border: 2px solid #fbc2c4;
  background: #fbe3e4;
  color: #8a1f11;
}

section#page {
  margin-right: 8px;
  display: block;
  clear: both;
}

footer#page_footer {
  text-align: center;
}

form ul {
  list-style: none;
  padding: 0;
  margin: 2px;
}

form ul li {
  margin: 0 0 8px 0;
  padding: 0;
}

form ul li input, form ul li textarea {
  display: block;
}

form ul li input[type=checkbox] {
  display: inline;
}

form#change_lists {
  display: inline;
}

.on_the_spot_editing form {
  display: inline;
}

span.on_the_spot_editing:hover {
  padding: 3px 0 !important;
  background:#faffbd !important;
  color:#514721 !important;
}

button, input, select, textarea {
  font-weight: bold;
  border: 2px solid #92cae4;
  background: #d5edf8;
  color: #205791;
  margin: 1px 2px;
  padding: 1px 3px;
}

div.pagination {
  text-align: center;
}

a.kanji {
  font-size: 2.5em;
  padding: 2px 8px;
  text-decoration: none;
}

span.kanji {
  font-size: 2.5em;
  display: block;
  text-align: center;
}

span.strokes {
  font-size: 0.5em;
  display: block;
  text-align: center;
}

td {
  padding: 6px;
}

table p {
  margin: 0;
}
