%li
  - if user_signed_in?
    = on_the_spot_edit meaning, :meaning, :ok_text => "✔", :cancel_text => "✗", :toolpit => "Edit meaning", :style => ""
  - else
    = meaning.meaning
  = link_to "Add to list", add_word_meaning_path(meaning.word, meaning), :class => 'smaller' if current_list_id_set? and not current_list.meanings.include?(meaning)
  = link_to "Delete meaning", [meaning.word, meaning], :class => 'smaller', :confirm => "Are you sure?", :method => :delete if admin_signed_in?
